
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Delete.g.cshtml.cs
.vs/config/applicationhost.config
.vs/MvcMovie/v15/.suo
.vs/MvcMovie/v15/Server/sqlite3/storage.ide
.vs/MvcMovie/v15/Server/sqlite3/storage.ide-shm
.vs/MvcMovie/v15/Server/sqlite3/storage.ide-wal
bin/Debug/netcoreapp2.2/MvcMovie.deps.json
bin/Debug/netcoreapp2.2/MvcMovie.dll
bin/Debug/netcoreapp2.2/MvcMovie.pdb
bin/Debug/netcoreapp2.2/MvcMovie.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/MvcMovie.Views.dll
bin/Debug/netcoreapp2.2/MvcMovie.Views.pdb
obj/Debug/netcoreapp2.2/MvcMovie.assets.cache
obj/Debug/netcoreapp2.2/MvcMovie.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/MvcMovie.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/MvcMovie.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/MvcMovie.dll
obj/Debug/netcoreapp2.2/MvcMovie.pdb
obj/Debug/netcoreapp2.2/MvcMovie.Views.dll
obj/Debug/netcoreapp2.2/MvcMovie.Views.pdb
obj/Debug/netcoreapp2.2/Razor/Views/_ViewImports.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/_ViewStart.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/HelloWorld/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/HelloWorld/Index1.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/HelloWorld/Index2.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/HelloWorld/Welcome.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Home/Privacy.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Create.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Delete.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Details.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/DetailsOriginal.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Edit.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/EditOriginal.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/IndexFormGenreNoRating.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/IndexGenreRating.g.cshtml.cs
obj/project.assets.json
obj/MvcMovie.csproj.nuget.g.props
obj/MvcMovie.csproj.nuget.cache
obj/Debug/netcoreapp2.2/Razor/Views/Shared/Error.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_ValidationScriptsPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.org.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_Layout.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Shared/_CookieConsentPartial.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/IndexOriginal.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/IndexGet.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/IndexGenreRating.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/IndexFormGenreNoRating.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/Index.g.cshtml.cs
obj/Debug/netcoreapp2.2/Razor/Views/Movies/EditOriginal.g.cshtml.cs
